body {
  font-family: 'Montserrat';
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  font-family: 'Montserrat';
}

hr.star-light,
hr.star-dark {
  max-width: 15rem;
  padding: 0;
  text-align: center;
  border: none;
  border-top: solid 0.25rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

hr.star-light:after,
hr.star-dark:after {
  position: relative;
  top: -.8em;
  display: inline-block;
  padding: 0 0.25em;
  content: '\f005';
  font-family: FontAwesome;
  font-size: 2em;
}

hr.star-light {
  border-color: #B47F41;
}

hr.star-light:after {
  color: #B47F41;
  background-color: #575757;
}

hr.star-dark {
  border-color: #575757;
}

hr.star-dark:after {
  color: #575757;
  background-color: #B47F41;
}

section {
  padding: 6rem 0;
  
}
section{
  width: 100%;
}

section h2 {
  font-size: 2.25rem;
  line-height: 2rem;
}

@media (min-width: 992px) {
  section h2 {
    font-size: 3rem;
    line-height: 2.5rem;
  }
}

.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
}

.btn-social {
  width: 3.25rem;
  height: 3.25rem;
  font-size: 1.25rem;
  line-height: 2rem;
}

.scroll-to-top {
  z-index: 1042;
  right: 1rem;
  bottom: 1rem;
  display: none;
}

.scroll-to-top a {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
}

#mainNav {
  padding-top: 1rem;
  padding-bottom: 4rem;
  font-weight: 700;
  font-family: 'Montserrat' !important;
  background-color: #727776;
  text-align: justify; 
  
}

#mainNav .navbar-brand {
  color:#d8d1bb;
}

#mainNav .navbar-nav {
  margin-top: 1rem;
  letter-spacing: 0.0625rem;
}

#mainNav .navbar-nav li.nav-item a.nav-link {
  color: #d8d1bb;
}

#mainNav .navbar-nav li.nav-item a.nav-link:hover {
  color: #575757;
}

#mainNav .navbar-nav li.nav-item a.nav-link:active, #mainNav .navbar-nav li.nav-item a.nav-link:focus {
  color: rgb(172, 156, 137);
}

#mainNav .navbar-nav li.nav-item a.nav-link.active {
  color: #575757;
}

#mainNav .navbar-toggler {
  font-size: 80%;
  padding: 0.8rem;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
  }
  #mainNav .navbar-brand {
    font-size: 2em;
    -webkit-transition: font-size 0.3s;
    -moz-transition: font-size 0.3s;
    transition: font-size 0.3s;
  }
  #mainNav .navbar-nav {
    margin-top: 0;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active {
    color: #B47F41;
    background: #575757;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link.active:active, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:focus, #mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover {
    color: #B47F41;
    background: #575757;
  }
  #mainNav.navbar-shrink {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  #mainNav.navbar-shrink .navbar-brand {
    font-size: 1.5em;
  }
}

header.masthead {
  padding-top: calc(6rem + 72px);
  padding-bottom: 6rem;
}

header.masthead h1 {
  font-size: 3rem;
  line-height: 3rem;
}

header.masthead h2 {
  font-size: 1.3rem;
  font-family: 'Lato';
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(6rem + 106px);
    padding-bottom: 6rem;
  }
  header.masthead h1 {
    font-size: 4.75em;
    line-height: 4rem;
  }
  header.masthead h2 {
    font-size: 1.75em;
  }
}

.portfolio {
  margin-bottom: -15px;
}

.portfolio .portfolio-item {
  position: relative;
  display: block;
  max-width: 25rem;
  margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
  -webkit-transition: all ease 0.5s;
  -moz-transition: all ease 0.5s;
  transition: all ease 0.5s;
  opacity: 0;
  background-color: #575757;
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
  opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
  font-size: 1.5rem;
}

@media (min-width: 576px) {
  .portfolio {
    margin-bottom: -30px;
  }
  .portfolio .portfolio-item {
    margin-bottom: 30px;
  }
}

.portfolio-modal .portfolio-modal-dialog {
  padding: 3rem 1rem;
  min-height: calc(100vh - 2rem);
  margin: 1rem calc(1rem - 8px);
  position: relative;
  z-index: 2;
  -moz-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 3rem 1rem rgba(0, 0, 0, 0.5);
}

.portfolio-modal .portfolio-modal-dialog .close-button {
  position: absolute;
  top: 2rem;
  right: 2rem;
}

.portfolio-modal .portfolio-modal-dialog .close-button i {
  line-height: 38px;
}

.portfolio-modal .portfolio-modal-dialog h2 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  .portfolio-modal .portfolio-modal-dialog {
    min-height: 100vh;
    padding: 5rem;
    margin: 3rem calc(3rem - 8px);
  }
  .portfolio-modal .portfolio-modal-dialog h2 {
    font-size: 3rem;
  }
}

.floating-label-form-group {
  position: relative;
  border-bottom: 1px solid #e9ecef;
}

.floating-label-form-group input,
.floating-label-form-group textarea {
  font-size: 1.5em;
  position: relative;
  z-index: 1;
  padding-right: 0;
  padding-left: 0;
  resize: none;
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none !important;
}

.floating-label-form-group label {
  font-size: 0.85em;
  line-height: 1.764705882em;
  position: relative;
  z-index: 0;
  top: 2em;
  display: block;
  margin: 0;
  -webkit-transition: top 0.3s ease, opacity 0.3s ease;
  -moz-transition: top 0.3s ease, opacity 0.3s ease;
  -ms-transition: top 0.3s ease, opacity 0.3s ease;
  transition: top 0.3s ease, opacity 0.3s ease;
  vertical-align: middle;
  vertical-align: baseline;
  opacity: 0;
}

.floating-label-form-group:not(:first-child) {
  padding-left: 14px;
  border-left: 1px solid #e9ecef;
}

.floating-label-form-group-with-value label {
  top: 0;
  opacity: 1;
}

.floating-label-form-group-with-focus label {
  color: #18BC9C;
}

form .row:first-child .floating-label-form-group {
  border-top: 1px solid #e9ecef;
}

.footer {
  position: relative;
  margin-top: 20px;
  bottom: 0px;
  width: 100%;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #727776;
  color: #d8d1bb;
  
}
footer
{
  margin-top: 4px;
}

.copyright {
  background-color: #1a252f;
}

a {
  color: #212528;
}


a:focus, a:hover, a:active {
  color: rgb(129, 120, 110);
  text-decoration: none;
}

.btn {
  border-width: 2px;
}

.bg-primary {
  background-color: #777777 !important;
  position:relative;
  top: 0px;
  padding-top: 0px;
  width: 100%;
}

.bg-secondary {
  background-color: #2C3E50 !important;
}

.text-primary {
  color: #18BC9C !important;
}

.text-secondary {
  color: #2C3E50 !important;
}

.btn-primary {
  background-color: #18BC9C;
  border-color: #18BC9C;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #128f76;
  border-color: #128f76;
}

.btn-secondary {
  background-color: #2C3E50;
  border-color: #2C3E50;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  background-color: #1a252f;
  border-color: #1a252f;
}

.dropdown-menu
{
  background-color: #727776c0 !important;
  margin-top: -10px;
  min-width: 7rem;
}

.dropdown-menu a
{
  color: #d8d1bb;
  font-family: 'Montserrat';
  text-decoration: none;
}

.dropdown-menu li
{
  text-align: center;
}

.dropdown-menu a:hover
{
  color: #999999;
}

.dropdown-item a
{
  color:  #d8d1bb; 
  font-weight: bold;
  
}

.dropdown-item:focus, .dropdown-item:hover
{
  background-color: #5a5c5e9f; 
}

.dropdown-menu.show
{
    display: block;
}

  .dropdown:hover .dropdown-menu{
    display:block;
  }

.navbar-toggler
{
  color: #d8d1bb;;
}

.navbar-brand
{
  color: #d8d1bb;;
}

.firstSection
{
  margin: 0px;
  padding-bottom: 30px; 
  background-color: #d8d1bb;
  color: #424141;
}

.bg-primary 
{
  color: rgb(155, 144, 131);
  background-color: #999999;
}






.carousel-item img 
{
  width: 100%;
  height: 700px;

}

span.carousel-control-prev-icon, .carousel-control-next-icon
{
  background-color: #1a252f00;  
  
}

.carousel-content
{ 
  
  position: absolute;
  bottom: 10%;
  left: 30%;
  text-align: center;
  z-index: 20;
  color: rgb(82, 81, 81);
  text-shadow: 0 1px 2px rgba(0,0,0,.6);
}

.carousel-content h4
{
  font-family: 'Georgia';
  font-weight: 400;
  font-size: 1.8rem;
  font-style: italic; 
  color: #504e4e;
}

.row
{
  background-color: #d8d1bb;
}

.subtitle
{
  padding-top: 40px;
  padding-left: 20px;
}

.subtitle p
{
  color: #0f0f0f;
  font-family: 'Montserrat';
  font-size: 2.0em;
  font-style: strong;

}


.gallery {
  position: relative;
  z-index: 2;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

.gallery figure {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  padding: 10px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}


.gallery figure figcaption {
  display: none;
}

.gallery figure img {
  width: 100%;
  border-radius: 10px;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  height: auto; 
}




.gallery .overlay {
  background: rgba(0,0,0,0.5);
  color: white;
  cursor: pointer;
  display: table;
  position: absolute;
  bottom: 10.4%;
  height: 40%;
  transition: .5s ease;
  font-size: 20px;
  padding: 20px;
  width: 31.42%;
  opacity: 0;
  text-align: center;
}

/*.gallery figure .overlay .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}*/

.gallery-item:hover .overlay
{
 opacity: 1;
}

hr
{
  
  background-color: rgba(209, 202, 178, 0.63);
  left: 0;
  height: 1px;
 
  
}


container-fluid
{
  padding: 0;
  margin: 0;
  background-color: #d8d1bb;
}
#page-top
{
  width: 100%;
}

body
{
  background-color: #d8d1bb;
}

.social-banners{
  position:absolute;
  right:5%;
}

.media-item:hover .overlay
{
 opacity: 1;
}

.page-link
{
    color:  rgb(27, 27, 29) !important;
    background-color:  #97938f8a !important;
    border-color: #bbb4b4;
}

.page-link
{
    font-size: 20px;
}


.breadcrumb{
  background-color:#d8d1bb;
  color:black;
}

.breadcrumb li{
  color:black ;

}
/* za aktivne breadcrumb elemente*/
.breadcrumb-item.active{
  color:rgb(114, 100, 100);
}

.breadcrumb-item{
  color:rgb(95, 53, 5);
}
.breadcrumb a{
  text-decoration: none;
  color:rgb(95, 53, 5);
}

.breadcrumb>li+li:before { padding: 0 5px; color: black; content: ">"; }



.breadcrumb-item+.breadcrumb-item::before
{
  color: rgb(95, 53, 5) !important;
}

h4.media-heading
{
  font-family: "Georgia";
}

.subtitle strong
{
  font-family: "Georgia";
}

.glavniSponzor
{
  font-family: "Verdana";
  margin-bottom: 30px;
  font-size: 18px;

}