#headerImage{
    width:100%;
    height:auto;
}

#aboutFestival{
   
    text-align: justify;

}

.aboutBottomImage{
    width:100%;
    height:auto;
    margin-top:10px;
}

.awardName{
    font-size: 25px;
    font-weight: bold;
}


.contactList a{
    color: rgb(95, 53, 5);
   
}

.contactList a:hover{
    color: #212528;
    text-decoration: none;
    
}

.contactList{
    font-size:30px;
}


.subsubtitle{
    padding-left:25px;
}


.actorBio img{
   height:auto;
    width:300px;
}

.actorBio{
    margin-bottom:40px;
}

.actorBio p{
    text-align:justify;
}


#firstPage a{
    color:rgb(46, 26, 3);
}


.projectionLocation{
    margin-bottom:40px;
}

.projectionLocation img{
    height:auto;
    width:60%;
}

.projectionLocation a{
    color:#B47F41;
}

.projectionLocation a:hover{
    color:rgba(196, 79, 12, 0.411);
    text-decoration: none;
    
}

.projectionInfo{
    font-weight: bold;
   /* margin-left:10px;*/
}

.projectionLocation img{
    width:500px;
    height: auto;
}


.actorInfoButton{
    margin-top:20px;
}

.actorBioDetailed img{
    height:auto;
    width:400px;
}
.actorBioP{
    font-weight: bold;
    text-align: justify;
}


#flags{
    position:relative;
    margin-top:0px;
}




