#headerImage{
    width:100%;
    height:auto;
}

#aboutFestival{
   
    text-align: justify;

}

.aboutBottomImage{
    width:100%;
    height:auto;
    margin-top:10px;
}

.awardName{
    font-size: 25px;
    font-weight: bold;
}


.contactList a{
    color: rgb(95, 53, 5);
   
}

.contactList a:hover{
    color: #212528;
    text-decoration: none;
    
}

.contactList{
    font-size:30px;
}


.subsubtitle{
    padding-left:25px;
}


.actorBio img{
   height:auto;
    width:300px;
}

.actorBio{
    margin-bottom:40px;
}

.actorBio p{
    text-align:justify;
}


#firstPage a{
    color:rgb(46, 26, 3);
}


.projectionLocation{
    margin-bottom:40px;
}

.projectionLocation img{
    height:auto;
    width:60%;
}

.projectionLocation a{
    color:rgb(92, 53, 8);
}

.projectionLocation a:hover{
    color:rgba(73, 55, 40, 0.808);
    text-decoration: none;
    
}

.projectionInfo{
    font-weight: bold;
   /* margin-left:10px;*/
}

.projectionLocation img{
    width:500px;
    height: auto;
}


.actorInfoButton{
    margin-top:20px;
}

.actorBioDetailed img{
    height:auto;
    width:400px;
}
.actorBioP{
    font-weight: bold;
    text-align: justify;
}


#flags{
    position:relative;
    margin-top:0px;
}



.movieInfoTabel{
    font-size: 30px;
    border-spacing:20px;
}


.movieTableHead{
    font-weight: bold;
}


.inputTicket{
    background-color:lightgray;
}

.movieInfoTable{
    border-collapse: separate;
    border-spacing: 14px;
    font-size:20px;
}

.movieGalleryImages img{
    width:300px;
    height: auto;
}