.media .media-body a
{
    color: rgba(51, 50, 50, 0.986) !important;
}

.media .overlay
{
    background: rgba(0,0,0,0.5);
    color: white;
    cursor: pointer;
    display: table;
    position: absolute;
    bottom: 10.4%;
    height: 40%;
    transition: .5s ease;
    font-size: 20px;
    padding: 20px;
    opacity: 0;
    text-align: center;
}

.media-item:hover .overlay
{
 opacity: 1;
}